head {
    color:white;
}
body {
    color:#1DB954;
}
header {
    color:#191414;
}

#pl-name {
    color: #ffffff;
}

.btn {
    background-color: #1DB954;
    color: #ffffff;
}

.row {
    color: #ffffff;
}
@media (max-width: 800px) {
    #pl-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
}
